<div class="top-wrapper">
  <?- partial('header/header') ?>
</div>

<div class="app-wrapper">
    
  <section class="sidebar">
    <?- partial('sidebar/header') ?>
    <?- partial('sidebar/body') ?>
  </section>
    
  <section class="body-wrapper">
    <?- partial('body/body') ?>
  </section>

</div>